*.pdf

*.mp4

*.xls*

*.numbers

*.pyc

*.csv

*.swp

environment

.DS_STORE

FIGS

copy_figs.sh

*.txt

.ipynb_checkpoints

*.html

node_modules/

*.json

paper_figs
paper_data

visjs_labels_test.ipynb

network_changes_share.ipynb

*.zip

style_files

misc

.Rhistory

manuscripts/
presentations/

*ipynb

repeatability/

paper_data/

fig1-drawing

*.key

sandbox
sandbox.py

paper_dataV1

paper_figsV1

mapping_network/sketches

*.jpeg

*.icloud

network_stats/
